<div class="container m-5">
  <button class="btn btn-primary btn-sm"
          cdkCopyToClipboard="J'ai été copié dans le pressepapier"
          [swal]="sweetWithOption"
  > copier ds le clipbord</button>
  <br>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="input-group-text btn btn-success " [cdkCopyToClipboard]="animateCssCdn" (click)="sweetCDN.fire()">Copier ds le clipboard</button>
    </div>
    <input type="text" class="form-control" disabled [value]="animateCssCdn" aria-label="With textarea"/>
  </div>
  <br>
  <br>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="input-group-text btn btn-success " [cdkCopyToClipboard]="couponCode" (click)="sweetCoupon.fire()">Copier ds le clipboard</button>
    </div>
    <input type="text" class="form-control" disabled [value]="couponCode" aria-label="With textarea"/>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div class="input-group">
    <textarea class="form-control" cols="30" rows="10" (input)="onValueInput($event)">
    </textarea>
    <button class="btn btn-success input-group-text btn-succes" (click)="copy()">copier</button>
  </div>

</div>







<swal
  #sweetCDN
  title = "url copiée ds le clipboard"
  text="happy coding"
  icon= "success" >
</swal>

<swal
  #sweetCoupon
  title="Coupon {{ couponCode }} copié ds le pp"
  text="Bon apprentissage"
  icon="success"
></swal>


<swal
  #sweetWithOption
  [swalOptions]="{
    title: 'avec animation',
    icon: 'success',
    showClass: {
      popup: 'animate__animated animate__fadeInDown'
    },
    hideClass: {
      popup: 'animate__animated animate__fadeOutUp'
    }
  }"
></swal>

<router-outlet></router-outlet>
